form{
    padding: 0px;
    margin: 0px;
    border: 1px dotted black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    
}
div{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.div1{
    order: 5;
    flex-basis: 1 1 10em;
    background: rgb(176, 122, 246);
}
.div2 {
    background: hsl(133, 97%, 77%);
    flex-basis: 3 3 20em;
    order: 4;
}
.div3 {
    background: rgb(250, 152, 250);
    order: 1;flex-basis: 4 4 30em;
}
.div4 {
    background: rgb(214, 251, 81);
    order: 2;flex-basis: 5 5 40em;
}
.div5 {
    background: rgb(95, 225, 254);
    order: 3;flex-basis: 2 2 50em;
}

